#Ignore jupyter files
src/*.ipynb

#Ignore all cache
__pycache__/

#Ignore full env file
environment_full.yml

#Ignore pytest cache
.pytest_cache/

#Ignore log
log.txt

#Ignore cython build
src/cython/build/*
src/cython/*.pyd

#Ignore latex build
docs/_build/latex/*
!docs/_build/latex/*.pdf

#Ignore report build
report/*
!report/*.pdf
!report/*.png
!report/*.bib
!report/*.tex
