#Ignore jupyter files
src/*.ipynb

#Ignore all cache
__pycache__/

#Ignore full env file
environment_full.yml

#Ignore pytest cache
.pytest_cache/

#Ignore log
log.txt

#Ignore cython build
src/cython/build/*
src/cython/*.pyd
